-f https://download.pytorch.org/whl/torch_stable.html
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.0+cpu 
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.1.6
fastai
flask
pandas
gunicorn