-f https://download.pytorch.org/whl/torch_stable.html
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.0+cpu 
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.0+cpu
fastai
flask
pandas
gunicorn