-f https://download.pytorch.org/whl/torch_stable.html
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==0.4
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.1.6
fastai==0.7
flask
pandas
gunicorn